
/*-- General Styles --*/
body{
  background-color: rgb(139, 140, 160);
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  height: 140px;
  background-color: rgb(0, 0, 0);
}

footer{
  background-color: black;
  height: 75px;
}

h1, h2, h3{
 text-align: center
}

header h2{
  color: white;
  text-align: center
}

footer p{
 color: white;
 padding: 27px;
 }
/*-- Used to sytle the name at the top of the page--*/
.logo{
 font-family: 'Times New Roman', Times, serif;
 font-size: 72px;
 color: white;
 text-align: center
}
/*-- used center the profil picture--*/
.picCenter{
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 50%;
}

.textCenter{
  text-align: center;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: blue; }
a:visited { color: purple; }
a:hover { color: lightblue; }
a:active { color: red; }
/*-- used to remove border around the webpage--*/ 
.margin{
  margin: 75px,20px;
}
/*-- Used to center the ordered and unordered list --*/
.center{
  width: 100px;
  margin:0 auto;
}

hr{
  border-color:black;
  width: 350px;
}