/* Flex */
.group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item{
  flex: 1;
  margin: 10px;
  align-items: auto;
  text-align: center;
}

/* Header & Nav */

.logo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 72px;
  color: white;
  text-align: center
 }

header{
 background-color: #000000;
 margin-bottom: 40px;
}

header h1{
 color: #ffffff;
 text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a{
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

/*-- General Styles --*/
body{
  background-color: #808080;
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
  background-color: black;
  height: 75px;
}

section{
  margin-bottom: 100px;
}

h1, h2, h3, h4{
 text-align: center;
}

footer p{
 color: white;
 padding: 27px;
 }

 img {
  width: 100%;
}

.lightBackground{
  background-color: silver;
}

.labelColor{
  color: #000000;
}

 /* form styling */
 form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: gray;
  font-family: arial;
}

form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form input[type="text"] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

/* desktop view */
@media all and (min-width: 800px) {
  section,
  h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}